/* Course: SENG 513 */
/* Date: Oct 23, 2023 */
/* Assignment 2 */
/* Name: Joy Wang */
/* UCID: 30201929 */

@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,400;1,200&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300;400;500;600;700&display=swap');

html{
    font-family: "Titillium Web", sans-serif;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #1f2023;
}

button {
    border: none;
    background-color: #028ff4;
    color: #fff;
    cursor: pointer;
    border-radius: 0;
    font-weight: bold;
    padding: 1vw;
    width: auto;
    height: 5vw;
}


header {
    display: flex;
    background-color: #6568aa;
    height: 4vw;
    justify-content: space-evenly;
}

header img {
    height: 4vw;
    width: auto;
}

header span {
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 3vw;
    color: black;
}

header div {
    display: flex;
    align-items: center;
}

main{
    position: relative;
    height: 100%;
}

.bg_img{
    width: 100%;
    height: 100%;
    display: block;
}

.mobile{
    display: none;
}

.gaming-area {
    background-repeat: no-repeat;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    position: absolute;
    top:1vh;
    left: 0;
    width: 100%;
    height: 100%;
    align-items: center;
}

.player{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
}

.player button{
    width: auto;
    height: auto;
    margin-top: 3vw;
    margin-bottom: 3vw;
}

.circle{
    border-radius: 50%;
}

.character{
    color: snow;
    border-radius: 50%;
    display: inline-block;
    padding: 0;
    vertical-align: top;
    height: 5vw;
    width: 5vw;
    transition: transform 0.7s ease-in-out;
}

button.character:hover {
    transform: rotate(360deg);
}

.countdown{
    font-family: 'Teko', sans-serif;
    font-size: 5vw;
    color: #001bfe;
}

.crown{
    position: absolute;
    transform: rotate(45deg);
    z-index: 2;
    height: 5vw;
    width: 5vw;
    top:7vw;
    left: 4vw;
}

#game-board{
    height: 40vw;
    width: auto;
    display: block;
    z-index: 1;
}

#board-area{
    position: relative;
}

#game-score{
    position: absolute;
    top: 0;
    left: 47%;
    justify-content: center;
    font-family: 'Teko', sans-serif;
    font-size: 5vw;
}

#select{
    position: absolute;
    height: 6%;
    width:6%;
    z-index: 3;
    left: 52%;
    top: 46%;
}

.piece{
    position: absolute;
    height: 8%;
    width: 8%;
    z-index: 3;
}

.white{
    left: 44%;
    top: 50%;
}

.black{
    left: 20%;
    top: 50%;
}

.ready{
    background-color: red;
}

.select-color{
    width: 5vw;
    height: 5vw;
    align-items: center;
}

.select-color img{
    height: 3vw;
    width: 3vw;
}

.display-middle{
    position: absolute;
    top: 30%;
    left: 30%;
    display: none;
}

.display-middle span{
    position: absolute;
    font-weight: bold;
    top: 0;
    left: 25vw;
    font-size: 15vw;
    color: #ffc200;
    z-index: 4;
}

.winner{
    display: none;
}

#gamestart-countdown{
    position: absolute;
    z-index: 4;
    font-size: 20vw;
    left: 17vw;
    color: red;
    top: -3vw;
}

#winner-character{
    position: absolute;
    color: snow;
    border-radius: 50%;
    padding: 0;
    vertical-align: top;
    height: 20vw;
    width: 20vw;
    z-index: 4;
}

@media only screen and (max-width: 680px) {
    header {
        height: 5vh;
    }

    header img {
        height: 5vh;
    }

    header span {
        font-size: 6vw;
    }

    .mobile{
        display: block;
    }
    .desktop{
        display: none;
    }

    .bg_img{
        height: 100%;
        width: 100%;
    }

    #game-score{
        top: 43%;
        left: 5%;
        writing-mode: vertical-rl;
        text-orientation: upright;
    }

    .gaming-area {
        flex-direction: column;
        justify-content: center;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .player{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        position: relative;
    }

    .player button{
        margin: 0 0 0 6vw;
    }

    #game-board{
        height: 75vw;
        width: auto;
        display: block;
        margin-top: 5vw;
        margin-bottom: 5vw;
    }

    .crown{
        height: 10vw;
        width: 10vw;
        top:-6vw;
        left: 18vw;
    }

    .character{
        height: 10vw;
        width: 10vw;
    }

    .display-middle{
        top: 40%;
        left: 25%;
    }

    #gamestart-countdown{
        position: absolute;
        z-index: 4;
        font-size: 40vw;
        left: 18vw;
        color: red;
        top: -15vw;
    }
}